<div class="container-fluid">
  <section class="row span11 offset1">
    <ul class="nav nav-tabs" id="user-tabs">
      <li class="active"><a href="#profile" data-toggle="tab">Profile</a></li>
      <li><a href="#apps" data-toggle="tab">Apps</a></li>
      <li><a href="#platforms" data-toggle="tab">Platforms</a></li>
      <li><a href="#settings" data-toggle="tab">Profile Settings</a></li>
    </ul>

    <div class="tab-content">

      <div class="tab-pane active" id="profile">
        <dl class="profile-info">
          <dt class="profile-field span2">First Name<dt>
          <dd class="clearfix"><%= @user.first_name %></dd>
          <dt class="profile-field span2">Last Name<dt>
          <dd class="clearfix"><%= @user.last_name %></dd>
          <dt class="profile-field span2">Birthday<dt>
          <dd class="clearfix"><%= @profile.birthday %></dd>
          <dt class="profile-field span2">Gender<dt>
          <dd class="clearfix"><%= @profile.gender.capitalize %></dd>
          <dt class="profile-field span2">Location<dt>
          <dd class="clearfix"><%= @profile.location %></dd>
        </dl>

      </div>

      <div class="tab-pane" id="apps">

        <div class="tabbable tabs-left">
          <ul class="nav nav-tabs">
            <li class="active">
              <a href="#my_apps" data-toggle="tab">My Apps</a>
            </li>
            <li>
              <a href="#apps_to_test" data-toggle="tab">Apps To Test</a>
            </li>
            <li>
              <a href="#apps_requested" data-toggle="tab">Requested Apps</a>
            </li>
          </ul>

          <div class="tab-content">
            <div class="tab-pane active" id="my_apps">
              <h3>My Apps</h3>
              <%= render "projects/list" %>
            </div>
            <div class="tab-pane" id="apps_to_test">...</div>
            <div class="tab-pane" id="apps_requested">...</div>
          </div>
        </div>
      </div>

      <div class="tab-pane" id="platforms">Platforms</div>

      <div class="tab-pane" id="settings">
        <%= simple_form_for @user do |f| %>
          <%= f.input :first_name, required: true %>
          <%= f.input :last_name, required: true %>

          <%= f.simple_fields_for :profile do |profile| %>



              <%= profile.input :birthday, as: :date,
                  start_year: Date.today.year - 90,
                  end_year: Date.today.year - 12, order: [:month, :day, :year] %>


              <%= profile.input :gender, as: :radio_buttons,
                  collection: [["Male", "male"], ["Female", "female"]] %>


            <%= profile.input :location %>

          <% end %>

          <%= f.button :submit %>
        <% end %>
      </div>
    </div>
  </section >
</div>

