<div class="buttons">
  <% if reg %>
    <%= button_to "Stop Testing", project_registration_path(project, reg),
      method: :delete, class: "btn btn-large btn-primary", remote: true %>
      <hr>

    <%= button_to "Access Website", url_with_protocol(project.url),
        method: :get, class: "btn btn-large btn-success",
        disabled: (test.status != "active") %>


    <%= button_to "Leave Feedback", new_project_feedback_path(project),
        method: :get, class: "btn btn-large btn-info",
        disabled: (test.status != "active") %>

    <% if test.status == "pending" %>
      <div class="marketing"><em>This app will be open for testing on
      <%= date_format(test.start_date) %></em></div>
    <% elsif test.status == "complete" %>
      <div class="marketing"><em>This app has completed its current test phase.</em></div>
    <% end %>

  <% else %>
    <%= button_to "Sign up to Test", project_registrations_path(project), class: "btn btn-large btn-primary", remote: true %>
  <% end %>
</div>

<div class="testers">
  <% for tester in testers %>
    <div class="user-thumb">
      <%= image_tag tester.picture.url(:thumb) %>
    </div>
  <% end %>

  <% if tester_count > 16 %>
    <span>
      <em>and <%= tester_count - 16 %> other testers</em>
    </span>
  <% end %>

</div>

<script>
  $(".button_to").on("ajax:success", function(event, data) {
    $(".sidebar").html(data);
  });

</script>