  <section class="row tabbable tabs-below">

    <h2 class="left-header">Control Panel</h2>
      <div class="tab-content left-header">

        <div class="tab-pane active" id="main">
          <%= render partial: "project_info",
                      locals: {project: @project, screenshots: @screenshots} %>
        </div>

        <% @tests.each do |test| %>

          <div class="tab-pane" id="test-<%= test.id %>">
            <%= render partial: "test_phases/view",
                        locals: {test: test, project: @project} %>
          </div>

        <% end %>

        <div class="tab-pane" id="new_test">
          <%= render "test_phases/new", locals: {test_phase: @new_test, project: @project} %>
        </div>
      </div>

      <ul class="nav nav-tabs">
        <li class="active"><a href="#main" data-toggle="tab">Main</a></li>
        <% @tests.each do |test| %>
          <li>
            <a href="#test-<%= test.id %>" data-toggle="tab">
              <%= test.name %>
            </a>
          </li>
        <% end %>
        <li><a href="#new_test" data-toggle="tab">New Test Phase</a></li>
      </ul>
  </section>

<script>

$(document).ready(function() {
  $("#feedback-view").on("ajax:success", function(event, data) {
    $("section.row > div > div.active").html(data);
  });

  $("#results-view").on("ajax:success", function(event, data) {
    $("section.row > div > div.active").html(data);
  });
});

</script>