<%= simple_form_for @project do |f| %>
  <section>
      <h3 class="left-header">Enter Project Details</h3>

      <%= f.input :name %>
      <%= f.input :url %>
      <%= f.input :category, collection: CATEGORIES %>

      <div class="control-group text optional project_description">
        <%= f.label :description, class: "text optional control-label" %>
        <div class="controls">
          <%= f.text_area :description, class: "tinymce" %>
        </div>
      </div>

      <%= f.input :private %>

      <div class="control-group string optional">
        <%= f.label :logo, class: "string optional control-label" %>
        <div class="controls">
          <%= f.file_field :logo, class: "string optional" %>
        </div>
      </div>

      <h3>Upload Screenshots:</h3>
      <hr>

          <%= f.simple_fields_for :screenshots do |s| %>
            <div class="control-group string optional">
              <%= s.label :image, class: "string optional control-label" %>
              <div class="controls">
                <%= s.file_field :image, class: "string optional" %>
              </div>
            </div>
            <%= s.input :caption %>
            <hr>
          <% end %>

        <h3>Create New Test Phase:</h3>
        <%= f.simple_fields_for :test_phases do |t| %>
          <%= t.input :name %>
          <%= t.input :start_date, as: :date %>
          <%= t.input :end_date, as: :date %>
        <% end %>

    <%= f.button :submit %>
  </section>
</div>


<% end %>
<%= tinymce %>