  <div class="row">
    <header class="left-header">
      <h1><%= @project.name %></h1>
      <em>Development Phase: <%= @test.name %></em>
    </header>

    <div class="span8">
      <div id="carousel" class="small">
        <ul>
          <% for image in @images %>
            <li>
              <%= image_tag image.url(:large) %>
            </li>
          <% end %>
        </ul>

        <div id="carousel-nav" class="small">
            <button class="prev">‹</button>
            <button class="next">›</button>
        </div>
      </div>

      <article>
        <%= @project.description.html_safe %>
      </article>
    </div>

    <div class="span3 offset1">

      <% if @reg %>
        <%= button_to "Stop Testing", project_registration_path(@project, @reg),
          method: :delete, class: "btn btn-large btn-primary" %>
          <hr>

        <%= button_to "Access Website", url_with_protocol(@project.url), method: :get, class: "btn btn-large btn-success" %>

        <%= button_to "Leave Feedback", new_project_feedback_path(@project), method: :get, class: "btn btn-large btn-info" %>

      <% else %>
        <%= button_to "Sign up to Test", project_registrations_path(@project), class: "btn btn-large btn-primary" %>
      <% end %>
    </div>
  </div>


<script>
  $(document).ready(function() {
    Carousel.init();
  });
</script>