  <div class="row">
    <header class="left-header">
      <h1><%= @project.name %></h1>
      <em>Development Phase: <%= @test.name %></em>
    </header>

    <div class="span8">
      <div id="carousel" class="small">
        <ul>
          <% for image in @images %>
            <li>
              <%= image_tag image.url(:large) %>
            </li>
          <% end %>
        </ul>

        <div id="carousel-nav" class="small">
            <button class="prev">‹</button>
            <button class="next">›</button>
        </div>
      </div>

      <article>
        <%= @project.description.html_safe %>
      </article>
    </div>

    <div class="sidebar span3 offset1">

        <%= render partial: "sidebar",
                    locals: {reg: @reg,
                             project: @project,
                             test: @test,
                             testers: @testers,
                             tester_count: @tester_count} %>


    </div>
  </div>

<%= javascript_include_tag "carousel" %>
