<div class="fields">
  <div class="control-group">
    <%= f.label :text, "Question", class: "control-label" %>

    <div class="controls">
      <%= f.input_field :text %>
      <%= f.hidden_field :_destroy %>
      <%= link_to_remove_fields "Remove", f %>
    </div>
  </div>

  <div class="responses">
    <%= f.simple_fields_for :responses do |r| %>
      <%= render "responses", f: r %>
    <% end %>

    <div class="add control-label">
      <%= link_to_add_fields "Add Response", f, :responses %>
    </div>
  </div>

</div>