<h3>
  <%= "#{@survey.project.name} #{@survey.test_phase.name} Results" %>
</h3>

<% if @survey.feedbacks.empty? %>
  <div class="fields"><h4>Nothing to report! Try again later.</h4></div>

<% else %>

<div class="clearfix">
  <ol class="span5">
    <% @survey.questions.each do |question| %>
    <h5><%= question.text %></h5>
    <dl>
      <% question.responses.each do |response| %>
        <dt class="label-field span4"><%= response.text %></dt>
        <dd class="clearfix"><%= response.count %></dd>
      <% end %>
    </dl>
    <a>Show Comments</a>
    <hr>
    <div class="comments">
      <% question.choices.each do |choice| %>
        <div class="comment">
          <h5>Comment created at <%= choice.created_at %></h5>
          <p><%= choice.comment %></p>
          <h5>User response: <%= choice.response.text %></h5>
        </div>
      <% end %>
    <% end %>
  </ol>

  <dl class="span4">
    <dt class="label-field span3">
      <%= @survey.feedbacks.group("os").count.first[0] %>
    </dt>
    <dd class="clearfix">
      <%= @survey.feedbacks.group("os").count.first[1] %>
    </dd>
    <dt class="label-field span3">
      <%= @survey.feedbacks.group("browser").count.first[0] %>
    </dt>
    <dd class="clearfix">
      <%= @survey.feedbacks.group("browser").count.first[1] %>
    </dd>
  </dl>
<% end %>
</div>

<div class="fields">
  <%= link_to "Back",
      project_test_phase_path(@survey.project, @survey.test_phase),
      remote: true,
      id: "test-view" %>
</div>


<script>

$(document).ready(function() {

  $("#test-view").on("ajax:success", function(event, data) {
    $("section.row > div > div.active").html(data);
  });
});

</script>