<h3>
  <%= "#{@survey.project.name} #{@survey.test_phase.name} Results" %>
</h3>

<% if @survey.feedbacks.empty? %>
  <div class="fields"><h4>Nothing to report! Try again later.</h4></div>

<% else %>

<div class="clearfix">
  <ol class="span6">
    <% @survey.questions.each do |question| %>
    <h4 class="left-header"><%= question.text %></h4>

    <dl>
      <% question.responses.each do |response| %>
        <dt class="label-field span5"><%= response.text %></dt>
        <dd class="clearfix"><%= response.count %></dd>
      <% end %>
    </dl>

    <a class="comment-toggle">Show Comments</a>
    <div class="comments">
      <% for choice in question.choices_with_comments %>
        <div class="comment">
          <div class="comment-body">
            <p><%= choice.comment %></p>
          </div>
          <div class="comment-footer">
            <em class="text-right">
            <%= time_ago_in_words(choice.created_at) if choice.created_at %> ago
            </em>
          </div>
        </div>
      <% end %>
    </div>

    <hr>

    <% end %>
  </ol>

  <dl class="span4">
    <% for os in @os_stats.keys %>
      <dt class="label-field span3">
        <%= os %>
      </dt>
      <dd class="clearfix">
        <%= @os_stats[os] %>
      </dd>
    <% end %>

    <% for browser in @browser_stats.keys %>
      <dt class="label-field span3">
        <%= browser %>
      </dt>
      <dd class="clearfix">
        <%= @browser_stats[browser] %>
      </dd>
    <% end %>
  </dl>
<% end %>
</div>

<div class="fields">
  <%= link_to "Back",
      project_test_phase_path(@survey.project, @survey.test_phase),
      remote: true,
      id: "test-view" %>
</div>


<script>

$(document).ready(function() {

  $("#test-view").on("ajax:success", function(event, data) {
    $("section.row > div > div.active").html(data);
  });

  $(".comment-toggle").on("click", function() {
    var $this = $(this);

    $this.next(".comments").slideToggle();
    $this.toggleClass(".hide");

    if ($this.hasClass(".hide")) {
      $this.html("Hide Comments");
    } else {
      $this.html("Show Comments");
    }
  });
});

</script>