<%= simple_form_for @survey, url: project_test_phase_survey_path(@test.project_id, @test) do |f| %>

  <%= f.simple_fields_for :questions do |q| %>
    <%= render "questions", f: q %>
  <% end %>

  <p><%= link_to_add_fields "Add Question", f, :questions %></p>

  <%= f.button :submit %>
<% end %>