  <section class="row">
    <%= simple_form_for @feedback, url: project_feedback_path(@project) do |f| %>
    <h3 class="left-header">
      <%= "#{@project.name} #{@test.name} Feedback" %>
    </h3>

    <ol>
      <% @survey.questions.each do |question| %>
      <li><%= question.text %></li>

        <%= f.fields_for :choices do |c| %>
          <%= c.input :response_id, label: false, as: :radio_buttons,
            collection: question.responses, label_method: :text %>
          <%= c.input :comment, size: "400x20" %>
        <% end %>

      <% end %>
    </ol>

    <%= f.button :submit, "Send Feedback" %>
    <% end %>
  </section>
