<!DOCTYPE html>
<html>
<head>
  <title>BetaMiners</title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>
<body>
  <header>
    <nav class="navbar">
      <div class="navbar-inner">
        <a class="brand" href="#">BetaMiners</a>

        <ul class="nav">
          <li><a href="#">Home</a></li>
          <li><%= link_to "Apps", projects_path %></li>
          <% if current_user %>
            <li><%= link_to "Profile", user_path(current_user) %></li>
            <li><%= link_to "New Project", new_project_path %></li>
            <li><%= link_to "Sign Out", destroy_user_session_path, method: :delete %></li>
          <% else %>
            <li><%= link_to "Sign In", new_user_session_path %></li>
          <% end %>

        </ul>
      </div>
    </nav>

    <% if notice %>
      <p class="notice"><%= notice %></p>
    <% end%>
    <% if alert %>
      <p class="alert"><%= alert %></p>
    <% end %>
  </header>


<%= yield %>


</body>
</html>
